@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=Story+Script&display=swap');
html, body{
    margin-left: 25px;
    margin-right: 25px;
    padding: 0;
}

.nav{
    text-align: center;
}
.nav h1{
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    margin-top: 15%;
}

.container {
  text-align: center;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 19px;
  color: #333;
}

p{
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    color: #666;
    margin-top: -25px;
    margin-bottom: -10px;
}

.options {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-bottom: 40px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.option-btn {
  padding: 15px 25px;
  font-size: 1rem;
  border: 2px solid #333;
  background-color: white;
  color: #333;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.option-btn:hover {
  background-color: #e0e0e0;
}

.option-btn.active {
  background-color: #333;
  color: white;
}

#mainBtn {
  margin-top: 25px;
  padding: 12px 25px;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  background-color: #ccc;
  color: white;
  cursor: not-allowed;
  transition: 0.3s;
  width: 20%;
}

#mainBtn:enabled {
  background-color: #000000;
  cursor: pointer;
}

#reactionText{
    font-family: "Poppins", sans-serif;
    font-size: 12px;
}

h6{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: #999;
    margin-top: 15px;
}

@media (max-width: 600px) {
  .options {
    flex-direction: column;
    gap: 20px;
  }

  .nav{
    margin-left: 25px;
    text-align: left;
  }

  #mainBtn {
    width: 100%;
  }
}